.rock2 {
    background-color: #B6A136;
}

.rock {
    background-color: #a69323;
}

.ghost2 {
    background-color: #967cb5;
}

.ghost {
    background-color: #7d5fa2;
}

.electric2 {
    background-color: #f8da66;
}

.electric {
    background-color: #f2cd20;
}

.bug2 {
    background-color: #bbca5c;
}

.bug {
    background-color: #A6B91A;
}

.poison2 {
    background-color: #d17ecf;
}

.poison {
    background-color: #ca53c7;
}

.normal2 {
    background-color: #b9b89e;
}

.normal {
    background-color: #A8A77A;
}

.fairy2 {
    background-color: #eaabc8;
}

.fairy {
    background-color: #d294b2;
}

.fire2 {
    background-color: #f59a58;
}

.fire {
    background-color: #EE8130;
}

.grass2 {
    background-color: #9edc77;
}

.grass {
    background-color: #7AC74C;
}

.water2 {
    background-color: #90b1f0;
}

.water {
    background-color: #6390F0;
}

.psychic2 {
    background-color: #f280a3;
}

.psychic {
    background-color: #F95587;
}

.ground2 {
    background-color: #e5c983;
}

.ground {
    background-color: #E2BF65;
}

.flying2 {
    background-color: #bca9f4;
}

.flying {
    background-color: #A98FF3;
}

.fighting2 {
    background-color: #c25f5a;
}

.fighting {
    background-color: #C22E28;
}

.ice2 {
    background-color: #bee3df;
}

.ice {
    background-color: #96D9D6;
}

.dark2 {
    background-color: #988378;
}

.dark {
    background-color: #826555;
}

.dragon2 {
    background-color: #8d62f5;
}
.dragon {
    background-color: #6F35FC;
}

.steel2 {
    background-color: #B7B7CE;
}
.steel {
    background-color: #9999b2;
}
