.all-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 5rem 0.5rem;
}

.spinner {
    margin: 100px;
}
