.evolution-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin: 10px 20px 10px 20px;
}

.evolution-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    text-transform: capitalize;
}

.pokemon-evo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.pokemon-evo img {
    width: 150px;
    height: 150px;
}

.pokemon-evo h5 {
    margin-top: 10px;
}


