@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 20px 10px 20px;
    max-width: 1500px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 14px;
    width: auto;
    font-family: 'Josefin Sans', serif;
}

/*.card-container */

.detail-info-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.detail-img {
    display: flex;
    width: 300px;
    height: 300px;
}

.detail-info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    justify-content: space-around;
}

.detail-name {
    display: flex;
    text-transform: capitalize;
}
.ability-container {
    display: flex;
    flex-direction: row;
}

.ability-container h4 {
    text-transform: capitalize;
}

.chart-container {
    margin-left: 50px;
}



